<% provide(:title, t("title.contact")) %>
<!DOCTYPE html>
<html>
  <body>
    <h1><%= t("mainContent.contact") %></h1>
    <p>
      <%= t("subContent.contact.first") %>
      <%= link_to t("page.contact"), t("link.contactPage") %>.
    </p>
  </body>
</html>
