<% provide(:title, "Contact") %>
<!DOCTYPE html>
<html>
  <body>
    <h1>Contact</h1>
    <p>
      <%= t("contact_title") %>
      <%= link_to t("contact_page"), t("link_contact_page") %>.
    </p>
  </body>
</html>
