<% provide(:title,"Help") %>
<!DOCTYPE html>
<html>
  <body>
    <h1>Help</h1>
    <p>
      <%= t("help_title_1") %>
      <%= link_to t("help_page"), t("link_help_page") %>
      <br/>
      <%= t("help_title_2") %>
      <%= link_to t("main_page")+" book", t("link_tutorial_page") %>
    </p>
  </body>
</html>
