<% provide(:title) %>
<!DOCTYPE html>
<html>
  <body>
    <h1>Sample App</h1>
    <p>
      <%= simple_format t("home_title") %>
      <%= link_to t("main_page"), t("link_main_page") %>
    </p>
  </body>
</html>
