<h1><%= t("subContent.mail.reset.click") %></h1><br/>
<%= link_to  t("subContent.mail.reset.link"), edit_password_reset_url(@user.reset_token, email: @user.email, locale: :en) %><br/><br/>
<%= t("subContent.mail.reset.expire") %><br/>
<%= t("subContent.mail.reset.cancel") %>
