<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "sample app", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t("keywords.header.home"), root_path %></li>
        <li><%= link_to t("keywords.header.help"), helf_path %></li>
        <li><%= link_to t("keywords.header.login"), "#" %></li>
      </ul>
    </nav>
  </div>
</header>
